
<table cellpadding="7">
    <tr>
        <td width="20%">
            <br>
            <h4>Категории:</h4>
            <hr width="65%" align="left"> Строительство <br><hr width="65%" align="left"> Ремонт техники<br><hr width="65%" align="left">
            Доставка <br><hr width="65%" align="left">Другие


        </td>
        <td>
            <br>
            <h2><center> Добро пожаловать на сайт рекомендаций Adviser!</center></h2>
            <br>
            Здесь вы можете посмотреть отзывы на товары и услуги, а также выставить свои собственные и узнать, как их оценивают
            другие пользователи
            <br />
        </td>
        <td width="25%"><center><h4><a href="/Search/Top">Популярные товары и услуги</a></h4><br></center></td>
    </tr>
</table>

@*section scripts
{
    <script type="text/javascript">
        Ext.Loader.setConfig({ enabled: true });
        Ext.Loader.setPath('Ext', '/Scripts/extjs');
        Ext.require([
            'Ext.Msg'
        ]);

        Ext.onReady(function () {
            Ext.Msg.alert('Greating', 'Hello World');
        });
</script>
} *@


