@model UI.Models.ProductPhotosModel
@{
    ViewBag.Title = "Добавление фотографии товара";
}
<br>
<table>
    <tr>
    @using (Html.BeginForm("Add", "ProductPhoto", FormMethod.Post))
    {
             
        @Html.ValidationSummary(true)
             <td width="80%">
                 <table border="0" width="100%" align="center">
                     <tr>
                         <td><div class="editor-label">Фотография</div> </td>
                     </tr>
                     <tr>
                         <td align="center" width="100%">
                             <div class="editor-field">
                        @* 
                        Вот здесь надо оставить просто if(Model.PhotosId.Count==0)
                        *@
                        @if ((Model==null) || (Model.PhotosId==null) || (Model.PhotosId.Count==0))
                        {
                        <b>Нет изображения</b>
                        }
                        else {
                         <img width="150" height="150" src="@Url.Action("GetImage", "Product", new { Model.Id })" />
                        }
                            Загрузить фотографию:
                            <input type="file" name="Image" />
                        
                            </div>
                         </td>
                     </tr>


                 </table></td>
            
  
    <
        @*<input type=hidden value=1 name= type>*@
        <tr>
            <td>
                <input type=submit value="Добавить фото">
            </td>
        </tr>
        }
    </table>
    </td>
    <td width="20%"></td>
}    
