@model UI.Models.ProductPhotoModel
@{
    ViewBag.Title = "Добавление фотографии товара";
}

    @using (Html.BeginForm("Add", "ProductPhoto", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Добавить изображение</legend>
 
        <div class="editor-label">Файл изображения</div>
        <div class="editor-field">
           <input type="file" name="image" />
        </div>
 
        <p>
            <input type="submit" value="Добавить" />
        </p>
    </fieldset>

 
<div> @*А куда возвращаться-то?!*@
    <a href="/ProductData/Edit/@Model.ProductId">Вернуться к добавлению товара</a> 
</div>
}