@using System.Collections.Generic;
@using UI.Models;
@model IEnumerable<ProductModel>
    @{
        ViewBag.Title = "Все предложения";
    }
    <br>
    <table>
        <tr>

            <td width="25%"></td>
            <td width="50%">
                <h2><font color="green"><center> Все предложения </center></font></h2>
                <br><br>
                <table border="0" width="100%" align="center" cellpadding="20">
                    @if (Model.Count() == 0)
                    {
                        <p>Не добавлено еще ни одного предложения</p>
                    }
                    else
                    {
                        foreach (ProductModel b in Model)
                        {
                            <tr>
                                <td>Товар</td>
                                <td>Категория</td>
                                <td>Рейтинг</td>
                                <td>Мин цена</td>
                            </tr>
                            <tr>
                                <td><p><a href="/ProductData/Index/@b.Id">@b.Name</a></p></td>
                                <td><p>@b.Category</p></td>
                                <td><p>@b.Rating</p></td>
                                <td><p>от @b.MinValue рублей</p></td>
                            </tr>
                        }
                    }
                </table>
            <td width="25%"></td>
        </tr>
    </table>
