@model UI.Models.UserModel

@{
    ViewBag.Title = "Персональная страница";
}

<h2>Персональная страница</h2>
@Html.DisplayFor(m => m.Login)
@Html.DisplayFor(m => m.Name)
@Html.DisplayFor(m => m.Sirname)
@Html.DisplayFor(m => m.Info)
<a href="/UserData/AllProducts/?login=@Model.Login">К предложениям пользователя</a>

